#container {
	height : 200px;
	width : 400px;
	background-color : #ccc;
	margin : auto;
	position : relative;
}

.yellow {
	width : 100px;
	height : 100px;
	border-radius : 100px 0 0 0;
	background-color : #fc0;
	height : 50px;
	width : 50px;
}
.left {
	position : absolute;
	transform : rotate(-180deg); 
	
} 
.right {
	position : absolute;
	bottom : 0;
	right : 0;
}