* {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
	min-width: 1280px;
}
/**header section*/
header {
	position: relative;
	width: 100%;
	height: 56px;
	background: url('imgs/logo.png') no-repeat 50px 10px #2189BF;
}
header input {
	position: absolute;
	top: 15px;
	right: 12%;
	width: 285px;
	height: 25px;
	border: 0;
	outline: none;
	border-radius: 15px;
	padding-left: 40px;
	background: url('imgs/search.png') no-repeat 10px 4px #fff;
}
header a {
	position: absolute;
	right: 0;
	margin-right: 7%;
	text-align: right;
	text-decoration: none;
	width: 60px;
	color: #fff;
	font: 12px/55px "Adobe Heiti Std";
	background: url('imgs/user.png') no-repeat 15px 20px;
}

/*container section*/
.container {
	width: 100%;
	position: relative;
}

/*aside section*/
aside {
	position: relative;
	width: 20%;
	height: 1190px;
	float: left;
	box-sizing: border-box;
	padding: 20px 0;
	background: #2A2E3D;
}
aside>div:nth-of-type(1) {
	width: 100%;
	height: 75px;
}
aside div:nth-of-type(1) div {
	position: relative;
	top: 5px;
	left: 55px;
	width: 48px;
	height: 48px;
	border: 0;
	border-radius: 48px;
	background: rgba(255,255,255,0.72);
}
aside .circle {
	position: relative;
	top: -4.6px;
	left: -4.6px;
	display: block;
	width: 55px;
	height: 55px;
	border: 1px #fff solid;
	border-radius: 55px;
	opacity: 0.72;
	background-color: transparent;
}
aside .user{
	position: relative;
	left: 120px;
	top: -22.5px;
	font: 16px/1.281em "SimHei";
	color: rgb(246,245,245);
}
aside div:nth-of-type(2) {
	position: relative;
	width: 100%;
	height: 35px;
	margin-left: 70px;
	margin-bottom: 20px;
}
aside div:nth-of-type(2) div {
	width: 50px;
	height: 35px;
	display: inline-block;
	font: 16px/1.125em "SimHei";
	color: #fff;
	opacity: 0.2;
}
aside div:nth-of-type(2) div + div {
	border-left: 2px solid #fff;
	margin-left: 10px;
	padding-left: 30px;
}
aside div:nth-of-type(2) div span {
	font: 12px/1.08 "Simsun";
}
aside a {
	font: 12px/4em "SimHei";
    color: rgb(110, 128, 149);
	text-decoration: none;
}
.aside-container {
}
.aside-container li {
	list-style: none;
	padding-left: 50px;
}
aside ul span {
	display: inline-block;
	width: 25px;
	height: 12px;
}
.aside-container>ul>li:first-child {
	background-color: #383D4E;
}
.aside-container li:hover {
background-color: #383D4E;

}
.aside-container ul li ul li a{
	margin-left: -30px;
	line-height: 28px;
}
.aside-container>ul>li:first-child>a, a.aside-3, a.aside-8{
	color: #fff;
}
span.star {
	background: url("imgs/aside-4.png") no-repeat 0 2px;
}
span.aside-1 {
	background: url("imgs/aside-1.png") no-repeat 0 2px;
}
span.aside-2 {
	background: url("imgs/aside-2.png") no-repeat 0px 2px;
}
span.aside-3 {
	background: url("imgs/aside-3.png") no-repeat 0 2px;
}
span.aside-5 {
	background: url("imgs/aside-5.png") no-repeat 0 2px;
}
span.aside-6 {
	background: url("imgs/aside-6.png") no-repeat 0 2px;
}
span.aside-7 {
	background: url("imgs/aside-7.png") no-repeat 0 2px;
}
span.aside-8 {
	background: url("imgs/aside-8.png") no-repeat 0 2px;
}
.aside-2-1 {
	background: url("imgs/aside-2-1.png") no-repeat 0 0;
}
.aside-2-2 {
	background: url("imgs/aside-2-2.png") no-repeat 0 0;
}


/*main section*/
main {
	width: 80%;
	height: 1190px;
	float: left;
}
main>div:first-child {
	width: 100%;
	height: 30px;
	font: 12.278px/30px "SimHei";
	color: rgb(170,170,170);
	box-sizing: border-box;
	padding-left: 30px;
}
main>div:first-child span:last-child {
	color: #2189BF;
}
main>div:first-child span:hover {
	color: #2189BF;
	cursor: pointer;
}
.main {
	width: 100%;
	height: 1160px;
	background-color: #EDEDEC;
	box-sizing: border-box;
	padding: 20px 95px 0 85px;
}
.main>div+div {
	margin-top: 10px;
}
.main>div>div {
	display: inline-block;
}


/*mian-1 section*/


.main-1 {
	width: 100%;
	height: 85px;
	border: 1px solid #ddd;
	background-color: #fff;
	box-sizing: border-box;
	padding: 15px 0  15px 30px ;
	word-spacing: -6px;
}
.main-1 span {
	font:12px/2.167em "SimHei";
	color: rgb(170,170,170);
	margin-right: 15px;
}
.main-1>div{
	vertical-align: top;
}
select.mian-1-small{
	position: relative;
	font:13px/25px "SimHei";
	color: rgb(50,51,51);
	width: 75px;
	height: 25px;
	padding-left: 10px;
	outline: none;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url("imgs/main-1-1.png") no-repeat 58px 10px;
}
select.mian-1-large{
	position: relative;
	font:13px/25px "SimHei";
	color: rgb(50,51,51);
	width: 120px;
	height: 25px;
	padding-left: 10px;
	outline: none;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url("imgs/main-1-2.png") no-repeat 100px 10px;
}
select.black-arrow {
	background: url("imgs/main-1-2.png") no-repeat 58px 10px;
}
.main-1>div + div {
	margin-left: 30px;
}
.main-1>div>div {
	display: block;
}
.main-1 .bottom {
	margin-top: 3px;
}
.main-1 .change {
	width: 25px;
	height: 100%;
	margin-left:0;
	padding-left: 15px;
	background: url("imgs/main-1-3.png") no-repeat 0 8px;
}
.main-1 .change span{
	position: relative;
	top: 13px;
	left: -1px;
	z-index: 10;
	font: 12px/2.176em "SimHei";
	color: #fff;
	cursor: pointer;
}
.main-1-right {
	margin-left: 15px;
}
.main-1 a {
	display: block;
	width: 55px;
	height: 25px;
	text-align: center;
	appearance: button;
	text-decoration: none;
	font: 12px/25px "SimHei";
	color: #fff;
	background-color: #388AC1;
	margin-top: 15px;
}


/*mian-2 section*/ 

.main-2 {
	position: relative;
	width: 100%;
	height: 66px;
}
.main-2>div {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: #fff;
	box-sizing: border-box;
	vertical-align: middle;
}
.mian-2>div + div {
	margin-left: 5px;
}
.main-2-small-1 {
	width: 3.44%;
	height: 100%;
	background: url("imgs/main-2-1.png") no-repeat 10px 25px #fff;
}
.main-2-small-2 {
	width: 3.44%;
	height: 100%;
	background: url("imgs/main-2-2.png") no-repeat 10px 25px #fff;
}
.main-2-small-1:hover, .main-2-small-2:hover {
	cursor: pointer;
}
.main-2-large {
	width: 12.33%;
	height: 100%;
}
.main-2-large:hover {
	border-top: 3px solid #4389C9;
	cursor: pointer;
}
.main-2-large p:first-child {
	font: 12px/1.2em "Microsoft YaHei";
	color: rgb(50,51,51);
	text-align: center;
	margin-top: 10px;
}
.main-2-large p:last-child {
	font:  14px/1.2em "Microsoft YaHei";
	color: #bbb;
	text-align: center;
	margin-top: 8px;
}
.main-2-large p:last-child span {
	font: 21px/0.686em "Microsoft YaHei";
	color: rgb(236, 101, 0);
}
.main-2 div:nth-of-type(2){
	border-top: 3px solid #4389c9;
}
.main-2 div:last-child {
	width: 14.658%;
	height: 100%;
	background: url("imgs/main-2-3.png") no-repeat 20px 15px #fff;
	cursor: pointer;
}
.main-2 div:last-child span {
	font: 12px/65px "Microsoft YaHei";
	color: rgb(83,83,83);
	position: relative;
	left: 60px;	
}


/*main-3 section*/ 
.main-3> p {
	font: 12px/2.62 "Microsoft YaHei";
	color: rgb(50,51,51);
}
.main-3{
	word-spacing: -6px;
	width: 100%;
	height: 100px;
}
div.main-3-1 {
	position: relative;
	display: inline-block;
	width: 22.435%;
	height: 70px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	background-color: #fff;
	font: 10px/2.005 "SimHei";
	color: rgb(170,170,170);
	cursor: pointer;
}
div.main-3-1 p {
	position: relative;
	top: 10px;
	left: 10px;
}
div.main-3-1 p:first-child {
	font: 12px/2.051 "SimHei";
	color: rgb(50,51,51);
}
.main-3-1 + .main-3-1 {
	margin-left: 30px;
}
div.main-3-green {
	border-left: 3px solid #43B29E;
}
div.main-3-blue {
	border-left: 3px solid #388AC1;
}
div.main-3-red {
	border-left: 3px solid #D04A36;
}
div.main-3-yellow {
	border-left: 3px solid #E2CD47;
}
div.main-3-1 div {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 60px;
	height: 50px;
}
div.main-3-green div {
	background-color: #43B29E;
}
div.main-3-blue div {
	background-color: #388AC1;
}
div.main-3-red div {
	background-color: #D04A36;
}
div.main-3-yellow div {
	background-color: #E2CD47;
}


/*main-4 section*/
.main-4 {
	width: 100%;
	height: 355px;
	word-spacing: -6px;
}
.main-4>div,.main-5>div {
	border: 1px solid #ddd;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: #fff;
	vertical-align: middle;
}
.main-4-left {
	position: relative;
	width: 60%;
	height: 100%;
}
.main-4-right {
	width: 39%;
	height: 100%;
	margin-left: 1%;
}
.main-4-title{
	width: 100%;
	height: 40px;
	background-color: #F4F5F6;
	font: 12px/40px "SimHei";
	color: rgb(170,170,170);
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
	border-radius: 8px 8px 0 0;
	padding-left: 20px;
}

/*tab section*/
.main-4-left li {
	list-style: none;
	float: left;
	font: 12px/2.5 "Simsun";
	color: rgb(83,83,83);
}
.main-4-left input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.main-4-left li:nth-of-type(1) {
	margin-left: 20px;
}
.main-4-left li+li {
	margin-left: 5px;
}
.main-4-left label {
	display: block;
	width: 85px;
	height: 25px;
	background-color: #EDEDF0;
	font: 12px/25px "Microsoft YaHei";
	color: rgb(83,83,83);
	text-align: center;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
	margin-top: -20px;
}
.main-4-left td {
	width: 100px;
	height: 30px;
	text-align: center;
}
.main-4-left table, tr,td {
	border: 1px solid #ddd;
	border-collapse: collapse;
}
[class*="table"] {
	display: none;
}
input[id*="project"]:checked ~ [class*="table"]{
	position: absolute;
	top: 74px;
	left: 20px;
     display: block; 
    border: 1px solid #ccc;
    padding: 30px 50px 37px 38px;
    border-radius: 0px 5px 5px;
}
input[id*="project"]:checked~label {
	position: relative;
	top: 1px;
	box-sizing: border-box;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    border-bottom: 0;
    height: 25px;
    background-color: #fff;
    z-index: 10;
}
.main-4-left td:hover {	
	background-color: #F3F5F6;
	cursor: pointer;
}

/*main-4-right section*/
.main-4-mtitle {
	font: 12px/1.381em "Microsoft YaHei";
	color: rgb(195, 194, 194);
}
.main-4-ltitle {
	font: 12px/1.381em "Microsoft YaHei";
	color: rgb(83, 83, 83);
}
.main-4-right>div:nth-of-type(1) {
	padding: 17px 0 0 40px;
}
.main-4-line {
	display: block;
	width: 80%;
	border-bottom: 1px solid #ddd;
	font: 12px/2em "Microsoft YaHei";
    color: rgb(83, 83, 83);
}
.main-4-right>div:nth-of-type(2) {
	word-spacing: -6px;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	margin-left: 40px;
}
.main-4-bottom1 {
 	width: 30%;
 	height: 45px;
 	display: inline-block;
 	vertical-align: middle;
 	text-align: left;
}
.main-4-bottom2 {
	width: 50%;
	height: 45px;
	display: inline-block;
	border-left: 1px solid #ddd;
	padding-left: 10px;
	vertical-align: middle;
}
.main-4-right>div:nth-of-type(3) {
	padding-left: 40px;
}
.main-4-bottom {
	position: relative;
	border-top: 1px solid #ddd;
	margin: 105px 35px 0 35px;
}
.main-4-bottom a {
	position: absolute;
	top: 5px;
	right: 0;
	text-decoration: none;
	font: 12px/25px "SimHei";
	color: #fff;
	display: block;
	width: 50px;
	height: 25px;
	background-color: #388AC1;
	text-align: center;
	border-radius: 3px;
}
.main-4-bottom input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #D5D5D5;
	width: 14px;
	height: 14px;
	outline: none;
}
.main-4-bottom input:checked {
	background: url("imgs/main-4-2.png") #d5d5d5 no-repeat center;
}

/*main-5 section*/

/*main-5-left section*/
.main-5-left {
	width: 40%;
	height: 355px;
}
.main-5-wrapper {
	margin: 10px auto;
	width: 310px;
}
.main-5-left select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	outline: none;
	font: 12px/20px "SimHei";
	color: rgb(83,83,83);
	padding-left: 5px;
	border: 1px solid #ddd;
}
.main-5-left select+select {
	margin-left: 5px;
}
.main-5-left select:nth-of-type(1) {
	background: url("imgs/main-5-1.png") no-repeat 50px;
	width: 62px;
}
.main-5-left select:nth-of-type(2) {
	padding-left: 20px;
	background: url("imgs/main-5-1.png") no-repeat 50px;
	width: 83px;
}
.main-5-left select:nth-of-type(3) {
	background: url("imgs/main-5-1.png") no-repeat 60px;
	width: 74px;
}
.main-5-left input[type="button"] {
	width: 65px;
	height: 20px;
	font: 12px/20px "SimHei";
	color: rgb(83,83,83);
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}
.main-5-wrapper table {
	margin: 0 auto;
	border-top: 1px solid #A9CFEC;
}
.main-5-wrapper table {
	border: 1px solid #fff;
}
.main-5-wrapper td {
	border:1px solid #fff;
	box-sizing: border-box;
}
.main-5-wrapper table th td {
	font: 12px/40px "SimHei";
	color: rgb(83, 83, 83);
	height: 30px;
}

.main-5-wrapper tr td {
	width: 40px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}
.main-5-wrapper td:hover {
	border: 1px solid #F7D155;
}
.main-5-wrapper .red {
	color: #CD3539;
	font-weight: bold;
}
.main-5-wrapper .checked {
	border: 1px solid #F7D155;
}







/*main-5-right section*/
.main-5-right {
	width: 58.3%;
	height: 355px;
	margin-left: 8px;
}
.main-5-container table {
	width: 470px;
	margin: 20px auto;
}
.main-5-container table,tr,td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	font: 12px/23px "SimHei";
    color: rgb(50, 51, 51);
}
.main-5-container td:hover {
	background-color: #eee;
	cursor: pointer;
}
.main-5-container tr td:first-child {
	width: 65px;
	height: 23px;
	text-align: center;
}
.main-5-container tr td:nth-of-type(2) {
	width: 75px;
	height: 23px;
	text-align: center;
}
.main-5-container tr td:last-child {
	width: 70%;
	height: 23px;
	text-align: center;
}
.main-5-container td>span {
	float: left;
	margin-left: 20px;
}
.main-5-container td>div {
	position: relative;
	top: 10px;
	left: 120px;
	width: 170px;
	height: 3px;
	background-color: #eee;
}
.main-5-container tr:nth-of-type(2) td>div>div {
	width: 85%;
	height: 3px;
	background-color: #ED6E52
}
.main-5-container tr:nth-of-type(3) td>div>div {
	width: 75%;
	height: 3px;
	background-color: #ED6E52
}
.main-5-container tr:nth-of-type(4) td>div>div {
	width: 64%;
	height: 3px;
	background-color: #F19E4F
}
.main-5-container tr:nth-of-type(5) td>div>div {
	width: 55%;
	height: 3px;
	background-color: #7ECAF0
}
.main-5-container tr:nth-of-type(6) td>div>div {
	width: 48%;
	height: 3px;
	background-color: #7ECAF0
}
.main-5-container tr:nth-of-type(7) td>div>div {
	width: 39%;
	height: 3px;
	background-color: #7ECAF0
}
.main-5-container tr:nth-of-type(8) td>div>div {
	width: 33%;
	height: 3px;
	background-color: #7ECAF0
}
.main-5-container tr:nth-of-type(9) td>div>div {
	width: 28%;
	height: 3px;
	background-color: #7ECAF0
}
.main-5-container tr:nth-of-type(10) td>div>div {
	width: 24%;
	height: 3px;
	background-color: #7ECAF0
}
.main-5-container tr:nth-of-type(11) td>div>div {
	width: 19%;
	height: 3px;
	background-color: #7ECAF0
}

